<h1 class="mt-4">Funcionários</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ employee.id ? 'Funcionário - Alterar' : 'Funcionário - Novo' }}</li>
</ol>
<div class="container border">
    <form #employeeForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Funcionários criado/alterado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                    {{ error }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Dados Cadastrais</h3>
            </div>            
        </div> 
        <div class="row" *ngIf="employee.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled="true" 
                           [ngModel]="employee.id" 
                           name="id"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Criação:</label>
                    <input type="text" class="form-control" disabled="true" 
                           [ngModel]="employee.created" 
                           name="created"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" class="form-control" 
                           [(ngModel)]="employee.name"
                           name="name"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Data de Nascimento:</label>
                    <input type="date" class="form-control"
                           [(ngModel)]="employee.dateOfBirth"
                           name="dateOfBirth"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>CPF:</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.cpf"
                           name="cpf"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>RG:</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.rg"
                           name="rg"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>PIS:</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.pis"
                           name="pis"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Carteira de Trablho:</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.workNumberId"
                           name="workNumberId"/>
                </div>
            </div>            
            <div class="col-md-3">
                <div class="form-group">
                    <label>Data Admissão:</label>
                    <input type="date" class="form-control"
                           [(ngModel)]="employee.startDate"
                           name="startDate"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Data de Demissão:</label>
                    <input typ="date" class="form-control"
                           [(ngModel)]="employee.endDate"
                           name="endDate"/>
                </div>
            </div>   
            <div class="col-md-3">
                <div class="form-group">
                    <label>Email:</label>
                    <input typ="date" class="form-control"
                           [(ngModel)]="employee.email"
                           name="email"/>
                </div>
            </div>          
        </div>
        <div class="row">
            <div class="col-md-2">
                <h3>Endereço</h3>
            </div>            
        </div>   
        <div class="row">         
            <div class="col-md-4">
                <div class="form-group">
                    <label>Logradouro                        
                    </label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.address.street"
                           name="street"/>
                </div>
            </div>                 
            <div class="col-md-1">
                <div class="form-group">
                    <label>Número</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.address.number"
                           name="number"/>
                </div>
            </div>    
            <div class="col-md-2">
                <div class="form-group">
                    <label>Complemento</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.address.complement"
                           name="complement"/>
                </div>
            </div>              
            <div class="col-md-1">
                <div class="form-group">
                    <label>Estado</label>
                    <select id="inputEstado" class="form-control" [(ngModel)]="employee.address.state" name="state">
                        <option *ngFor="let estado of estados" value="{{ estado.nome }}">{{ estado.nome }}</option>
                    </select>                                              
                </div>
            </div>              
            <div class="col-md-2">
                <div class="form-group">
                    <label>Cidade</label>
                    <select id="inputEstado" class="form-control" [(ngModel)]="employee.address.city" name="city">
                        <option>Colombo</option>
                        <option>Curitiba</option>
                        <option>São José dos Pinhais</option>
                        <option>Pinhais</option>                        
                        <option>Piraquara</option>
                    </select>                                              
                    
                </div>
            </div>   
            <div class="col-md-2">
                <div class="form-group">
                    <label>CEP</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.address.complement"
                           name="complement"/>
                </div>
            </div>                      
        </div>
        <div class="row">
            <div class="col-md-3">
                <h3>Dados Bancários</h3>
            </div>            
        </div>   
        <div class="row">         
            <div class="col-md-5">
                <div class="form-group">
                    <label>Banco</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.bankDetail.bank"
                           name="bank"/>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Tipo de Conta</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.bankDetail.accountType"
                           name="bankAccountType"/>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Agência</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.bankDetail.agency"
                           name="bankAgency"/>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>Conta</label>
                    <input type="text" class="form-control"
                           [(ngModel)]="employee.bankDetail.accountNumber"
                           name="bankAccountNumber"/>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-9">
                <button type="submit" class="btn btn-success ml-1" *ngIf="!employee.id">
                    <i class="fa fa-save"></i> Save
                </button>
                <button type="submit" class="btn btn-primary ml-1" *ngIf="employee.id">
                    <i class="fa fa-sync-alt"></i> Update
                </button>
                <button type="button" class="btn btn-danger ml-1" (click)="backToList()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Back
                </button>                        
            </div>
        </div>
    </form>


</div>